body{
    background-color: rgb(0, 0, 0);
}

label{
    color: rgb(255, 208, 0);
}
#controlsContainer {
    margin: auto;
    max-width: 450px;
    padding: 15px;
    width: 100%;
}

#appContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#canvas {
    margin: auto;
}

#color-picker {

    width: 100%;
}

#appStack {
    max-height: 100vw;
    max-width: 76vw;
}

#buttonStack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    max-width: 450px;
    width: 100%;
}
.btn{
    margin:3px;
    width: 33%;
}