#controlsContainer {
    max-width: 450px;
}

#canvasContainer {
    display: flex;
    padding: 0px;
}

#canvas {
    margin: auto;
}

#widthSliderRange {
    margin: 10px;
}

#color-picker {
    margin: 10px;
    width: 100%;
}

#colorOscillatorRange {
    margin: 10px;
}

#appStack {
    /*limit to width of window*/
    max-width: 76vw;
    max-height: 100vw;
}