#controlsContainer {
    margin:auto;
    max-width:450px;
    padding:15px;
    width:100%;
}

#appContainer {
    display:flex;
    flex-direction:column;
    width:100%;
}

#canvas {
    margin:auto;
}

#color-picker {
    margin:10px;
    width:100%;
}

#appStack {
    max-height:100vw;
    max-width:76vw;
}